/**
 * @file
 * External personalization block demo styles.
 */

.sidebar .block.xp-demo-block {
  padding: 0;
}

.block.xp-demo-block .xp-variant {
  border: 5px solid #ccc;
}

.block.block.xp-demo-block .block {
  margin: 0;
}

.block.xp-demo-block .block-block-content {
  margin: 0;
  padding: 0;
}

.block.xp-demo-block .content,
.block.xp-demo-block .block__content {
  margin: 0;
}

.block.xp-demo-block .content h3,
.block.xp-demo-block .block__content h3 {
  margin: .5em 0;
  text-align: center;
  height: 1em;
  line-height: 1em;
  font-size: 3em;
  font-weight: normal;
}

.block.xp-demo-block .content img,
.block.xp-demo-block .block__content img {
  display: block;
  text-align: center;
}

.block.xp-demo-block .paragraph--type--xp-demo-block {
  padding: 10px;
}

/* ************************************************************************** */
/* Olivero */
/* ************************************************************************** */

/**
 * Add border to XP block test form in the Olivero theme.
 */
.block-xp-block.block-xp-block-test {
  border: 5px solid #ccc;
  padding: 1em;
}

/**
 * Remove bottom margin being added by the Olivero theme.
 */
.block.xp-demo-block .block__content .field:not(:last-child) {
  margin-bottom: 0;
}
