/**
 * @file
 * External personalization block admin styles.
 */

.paragraph-info {
  display: none;
}

.js .paragraphs-description .paragraphs-content-wrapper .summary-content {
  color: #999;
}

.js .paragraphs-description .paragraphs-content-wrapper .summary-content:first-child {
  color: inherit;
}
